<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FortiApp</title>
</head>
<body class="fondo">
    <h1 class="selecciona">¡Selecciona la categoría!</h1>
    <form action="selecciona_cat.php" method="post">
        <!-- Este div es para el botón de la sección de instrumentos -->
        
        <div> 
            <a href="../Controller/instrumentos.php" class="palabra_instrumentos">Instrumentos</a>
            <a href="../Controller/instrumentos.php">
            <img class="btninstrumentos" src="../img/instrumentos.webp" alt="foto de guitarra">    
            </a>
            
        </div>
        <!-- Este div es para el botón de la sección de deportivos -->
        <div> 
            <a href="../Controller/deportivos.php" class="palabra_deportivos">Deportivos</a>
            <a href="../Controller/deportivos.php">
            <img class="btndeportivos" src="../img/deportivos.webp" alt="foto de deportes">    
            </a>
            
        </div>
        <!-- Este div es para el botón de la sección de cultural -->
        <div>
            <a href="../Controller/cultural.php" class="palabra_cultural">Cultural</a>
            <a href="../Controller/cultural.php">
            <img class="btncultural" src="../img/cultural.webp" alt="foto de bandera de méxico">    
            </a>
            
        </div> 
</form>
</body>
</html>